<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-banner">
        <h1>We Provide High <span>Quality</span> Dental Services</h1>
        <h4>Premier multispecialty dental care, now within reach.</h4>
        <p>From routine check-ups to specialized treatments, we deliver high-quality care tailored to your needs.</p>
        <a class="btn btn-primary" href="tel:812396692">
          <i class="fa-solid fa-phone"></i> Book Appointment
        </a>
      </div>
      <div class="col-md-6 banner-img" id="slide">
        <div class="slideshow-container">
          <div class="slides">
            <div class="slide">
              <img src="./img/b1.jpg" alt="Nature image">
            </div>
            <div class="slide">
              <img src="./img/b2.jpg" alt="City image">
            </div>
            <div class="slide">
              <img src="./img/b3.jpg" alt="City image">
            </div>
            <div class="slide">
              <img src="./img/b4.jpg" alt="City image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Service How Start -->
<section id="services">
  <div class="how-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <h1>How to get our service? </h1>
          <b>Just follow these simple steps</b>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div style="display: block;">
                  <i class="fa fa-phone"></i>
                  <br>
                  <a href="tel:812396692">
                    <span>Call for
                      appointment</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div style="display: block;">
                  <i class="fa-regular fa-calendar"></i>
                  <br>
                  <span>Get a
                    Date & Serial</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div style="display: block;">
                  <i class="fa-solid fa-user-doctor"></i>
                  <br>
                  <span>Consult
                    Your dentist</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service How Ends -->


<section id="ourServices">
  <app-title lable="Our Service"></app-title>
  <div class="row">
    <div class="col-md-2">
      <app-service-card img="./img/orla-maxi.png" label="Oral and Maxillofacial Surgery"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/aligners.png" label="Aligners"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/dentures.png" label="Dentures"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/digital_dentistry.png" label="Digital Dentistry"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/esthetic.png" label="Esthetic Dentistry / Smile Designing"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/full_mouth.png" label="Full Mouth Rehabilitation"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/implantology.png" label="Implantology"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/periodontal_therapy.png" label="Periodontal Therapy"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/perdiatic.png" label="Pediatric Dentistry"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/preventive_dentistry.png" label="Preventive Dentistry"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/root_canal.png" label="Root Canal Treatment"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/tooth_replacement.png" label="Tooth Replacement"></app-service-card>
    </div>
  </div>
</section>


<section id="weCare">
  <app-title lable="Why we are the best ?"></app-title>
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <ul>
          <h3> Core Values
          </h3>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Trust</li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Clinical Quality</li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Patient's Trust</li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Hygiene / Sterilisation</li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Service Excellence</li>
        </ul>

      </div>
      <div class="col-md-4" style="padding-left: 0px;">

        <ul>
          <h3> Respect People
          </h3>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Customers</li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Team Members
          </li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Vendors</li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Support Staff
          </li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Right & Privacy
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <h3> Integrity
          </h3>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Ethics</li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Learning Attitude
          </li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Honesty
          </li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Conflict of Interest
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section id="vision">
  <app-title lable="Your safety first !"></app-title>
  <div class="container" style="text-align: center;">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-6" style="text-align: left;">
        <ul>
          <li><i class="fa-solid fa-star"></i>&nbsp;Where disinfection and sterilization are done with utmost care.</li>
          <li><i class="fa-solid fa-star"></i>&nbsp;Frequent Disinfection of all Surfaces & Rigorous Hand-Sanitizing
            Protocols.
          </li>
          <li><i class="fa-solid fa-star"></i>&nbsp;4-Step Sterilisation for Instruments and Hand Rotors
          </li>
          <li><i class="fa-solid fa-star"></i>&nbsp;Responsible Bio-Medical Waste Disposal
          </li>
          <li><i class="fa-solid fa-star"></i>&nbsp;Digital software for complete medical records
          </li>
          <li><i class="fa-solid fa-star"></i>&nbsp;Complete Global Standard PPE for Dentists and Dental Assistants
          </li>
        </ul>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>


<section id="ourDoctors">
  <app-title lable="Our Doctors"></app-title>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="doctor-card">
          <!-- <img src="doctor-image.jpg" alt="Dr. Jane Smith" class="doctor-image"> -->
          <div class="doctor-info">
            <h3 class="doctor-name">Dr Mrudhula K (Owner)</h3>
            <p class="doctor-specialty">Endodontist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="doctor-card">
          <!-- <img src="doctor-image.jpg" alt="Dr. Jane Smith" class="doctor-image"> -->
          <div class="doctor-info">
            <h3 class="doctor-name">Dr Saanya</h3>
            <p class="doctor-specialty">Oral And Maxillofacial Surgeon</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="doctor-card">
          <!-- <img src="doctor-image.jpg" alt="Dr. Jane Smith" class="doctor-image"> -->
          <div class="doctor-info">
            <h3 class="doctor-name">Dr Kavya Jain</h3>
            <p class="doctor-specialty">Periodontist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="doctor-card">
          <!-- <img src="doctor-image.jpg" alt="Dr. Jane Smith" class="doctor-image"> -->
          <div class="doctor-info">
            <h3 class="doctor-name">Dr Saourabh Paul</h3>
            <p class="doctor-specialty">Pedodontist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="doctor-card">
          <!-- <img src="doctor-image.jpg" alt="Dr. Jane Smith" class="doctor-image"> -->
          <div class="doctor-info">
            <h3 class="doctor-name">Dr Pruthwin Gowda</h3>
            <p class="doctor-specialty">Orthodontist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="doctor-card">
          <!-- <img src="doctor-image.jpg" alt="Dr. Jane Smith" class="doctor-image"> -->
          <div class="doctor-info">
            <h3 class="doctor-name">Dr Akanksha Mishra</h3>
            <p class="doctor-specialty">Prosthodontist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="doctor-card">
          <!-- <img src="doctor-image.jpg" alt="Dr. Jane Smith" class="doctor-image"> -->
          <div class="doctor-info">
            <h3 class="doctor-name">Dr Gaurav Kemaria</h3>
            <p class="doctor-specialty">Implantologist</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="ourPatientsSpeak">
  <app-title lable="Our Patients' Feedback"></app-title>
  <div class="container" style="text-align: center;">
    <p>Why we remain the most reliable dental clinic.</p>
    <div class="row">

      <div class="testimonials-c row">
        <div class="t-card col-md-3">

          <p>
            <i class="fa-solid fa-quote-left"></i>Boost your product and service's credibility by adding testimonials
            from your clients. People love recommendations so feedback from others who've tried it is invaluable.
            <i class="fa-solid fa-quote-right"></i>

            <br>
            - TYLER ROSE
          </p>
        </div>
        <div class="t-card col-md-3">

          <p>
            <i class="fa-solid fa-quote-left"></i>Boost your product and service's credibility by adding testimonials
            from your clients. People love recommendations so feedback from others who've tried it is invaluable.
            .
            <i class="fa-solid fa-quote-right"></i>

            <br>
            - NIKITA SILVA
          </p>
        </div>

        <div class="t-card col-md-3">

          <p>
            <i class="fa-solid fa-quote-left"></i>Boost your product and service's credibility by adding testimonials
            from your clients. People love recommendations so feedback from others who've tried it is invaluable.
            <i class="fa-solid fa-quote-right"></i>

            <br>
            -JULIAN TRAN
          </p>
        </div>
      </div>

      <br>
      <br>
    </div>
  </div>
</section>
<br>
<br>
<section>
  <div class="container">
    <app-title lable="Our Patients' Speaks"></app-title>
    <div class="row">

      <!-- Video 1 -->
      <div class="col-md-3 mb-4">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/VIDEO_ID_1" title="YouTube video" allowfullscreen></iframe>
        </div>
      </div>

      <!-- Video 2 -->
      <div class="col-md-3 mb-4">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/VIDEO_ID_2" title="YouTube video" allowfullscreen></iframe>
        </div>
      </div>


      <!-- Video 3 -->
      <div class="col-md-3 mb-4">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/VIDEO_ID_2" title="YouTube video" allowfullscreen></iframe>
        </div>
      </div>

      <!-- Video 4 -->
      <div class="col-md-3 mb-4">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/VIDEO_ID_2" title="YouTube video" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="contactUs">
  <app-title lable="Contact Us"></app-title>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-4" style="flex-direction: column;">
        <h3>Visit our clinic</h3>
        <br>
        <p>
          First floor, byrava complex,
          <br>Near panchamukhi ganesha temple,
          <br>Anchepalya, Bangalore 560073
        </p>
      </div>
      <div class="col-md-4" style="flex-direction: column;" id="phone">
        <h3>MAKE AN APPOINTMENT
        </h3>
        <br>
        <a href="tel:812396692">
          <i class="fa-solid fa-phone"></i> 812396692
        </a>
        <br>

        <a href="tel:8123462752">
          <i class="fa-solid fa-phone"></i> 8123462752
        </a>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
