<section id="home" style="margin-bottom: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-banner">
        <h1>We Provide High <span>Quality</span> Dental Services</h1>
        <h4>Premier multispecialty dental care, now within reach.</h4>
        <p>From routine check-ups to specialized treatments, we deliver high-quality care tailored to your needs.</p>
        <!-- <a class="btn btn-primary" href="tel:8123965002">
          <i class="fa-solid fa-phone"></i> Book Appointment
        </a> -->

        <a class="btn btn-primary" href="https://click4appointment.com/clinic-details/zenrootsdental-4212">
          <i class="fa-solid fa-phone"></i> Book Appointment
        </a>
      </div>
      <div class="col-md-6 banner-img" id="slide">
        <div class="slideshow-container">
          <div class="slides">
            <div class="slide">
              <img src="./img/b1.jpeg" alt="Nature image">
            </div>
            <div class="slide">
              <img src="./img/b2.jpeg" alt="City image">
            </div>
            <div class="slide">
              <img src="./img/b3.jpeg" alt="City image">
            </div>
            <div class="slide">
              <img src="./img/b4.jpeg" alt="City image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Service How Start -->
<section id="services">
  <div class="how-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <h1>How to get our service? </h1>
          <b>Just follow these simple steps</b>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div style="display: block;">
                  <i class="fa fa-phone"></i>
                  <br>
                  <a href="tel:8123965002">
                    <span>Call for
                      appointment</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div style="display: block;">
                  <i class="fa-regular fa-calendar"></i>
                  <br>
                  <span>Get a
                    Date & Serial</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div style="display: block;">
                  <i class="fa-solid fa-user-doctor"></i>
                  <br>
                  <span>Consult
                    Your dentist</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service How Ends -->


<section id="ourServices">
  <app-title lable="Our Service"></app-title>
  <div class="row">
    <div class="col-md-2">
      <app-service-card img="./img/orla-maxi.png" label="Oral and Maxillofacial Surgery"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/aligners.png" label="Aligners"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/dentures.png" label="Dentures"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/digital_dentistry.png" label="Digital Dentistry"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/esthetic.png" label="Esthetic Dentistry / Smile Designing"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/full_mouth.png" label="Full Mouth Rehabilitation"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/implantology.png" label="Implantology"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/periodontal_therapy.png" label="Periodontal Therapy"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/perdiatic.png" label="Pediatric Dentistry"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/preventive_dentistry.png" label="Preventive Dentistry"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/root_canal.png" label="Root Canal Treatment"></app-service-card>
    </div>

    <div class="col-md-2">
      <app-service-card img="./img/tooth_replacement.png" label="Tooth Replacement"></app-service-card>
    </div>
  </div>
</section>


<section id="weCare">
  <app-title lable="Why we are the best ?"></app-title>
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <ul>
          <h3> Core Values
          </h3>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Trust</li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Clinical Quality</li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Patient's Trust</li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Hygiene / Sterilisation</li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Service Excellence</li>
        </ul>

      </div>
      <div class="col-md-4" style="padding-left: 0px;">

        <ul>
          <h3> Respect People
          </h3>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Customers</li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Team Members
          </li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Vendors</li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Support Staff
          </li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Right & Privacy
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <h3> Integrity
          </h3>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Ethics</li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Learning Attitude
          </li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Honesty
          </li>
          <li><i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp;Conflict of Interest
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section id="vision">
  <app-title lable="Your safety first !"></app-title>
  <div class="container" style="text-align: center;">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-6" style="text-align: left;">
        <ul>
          <li><i class="fa-solid fa-star"></i>&nbsp;Where disinfection and sterilization are done with utmost care.</li>
          <li><i class="fa-solid fa-star"></i>&nbsp;Frequent Disinfection of all Surfaces & Rigorous Hand-Sanitizing
            Protocols.
          </li>
          <li><i class="fa-solid fa-star"></i>&nbsp;4-Step Sterilisation for Instruments and Hand Rotors
          </li>
          <li><i class="fa-solid fa-star"></i>&nbsp;Responsible Bio-Medical Waste Disposal
          </li>
          <li><i class="fa-solid fa-star"></i>&nbsp;Digital software for complete medical records
          </li>
          <li><i class="fa-solid fa-star"></i>&nbsp;Complete Global Standard PPE for Dentists and Dental Assistants
          </li>
        </ul>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>


<section id="ourDoctors">
  <app-title lable="Our Doctors"></app-title>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="doctor-card" style="cursor: pointer;" (click)="showProfile=true">
          <!-- <img src="doctor-image.jpg" alt="Dr. Jane Smith" class="doctor-image"> -->
          <div class="doctor-info">
            <h3 class="doctor-name"><a style="text-decoration: underline;">Dr Mrudhula K (Owner)</a></h3>
            <p class="doctor-specialty">Endodontist</p>
          </div>
        </div>
      </div>
      @if (showProfile) {
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="col-md-12 col-lg-12 col-xs-12 "
              style="float:left; padding: 10px; padding-top: 20px; background: white;">
              <div class="col-md-2 col-lg-2 mobile-20" style="float:left; padding: 0; text-align: center; ">
                <img class="img-fluid"
                  src="https://click4appointment1.s3.ap-south-1.amazonaws.com/assets/profile-pictures/961788-MRUDHULAK-1747818721.jpg"
                  alt="MRUDHULA K" style="width: 100px;">
              </div>
              <div class="col-md-10 col-lg-10 col-xs-10 mobile-80" style="float:left;">
                <h1 class="col-md-6 col-lg-6 col-xs-12"
                  style=" font-size: 22px;  color: #333;  font-weight: 500; padding: 0; ">Dr. MRUDHULA K</h1>
                <span class="help">BDS, MDS</span> <br>
                <span class="help"> Endodontist ( Root Canal Specialist) And Conservative Dentist </span> <br>
                <span class="help">11 + Years Experience</span> <br>
                <span class="help">Visits : </span><br>
                <a href="https://click4appointment.com/clinic-details/zenrootsdental-4212" style="color:blue;"
                  target="_blank" class="name-width-mobile">ZenRoots Dental - Nagasandra</a><br>
                <br>
                <br>
              </div>

              <div class="col-md-12 col-lg-12 col-xs-12" style="float:left;">
                <h3 style="font-size: 20px;  color: #333;  font-weight: 500;"> About Dr. MRUDHULA K</h3>
                <hr>
                <p></p>
                <p>Dr. Mrudhula’s educational background from the prestigious Government Dental College and Research
                  Institute, under Rajiv Gandhi University, is a strong testament to her expertise. Completing both
                  undergraduate and postgraduate studies at a renowned institution indicates a solid foundation in
                  dentistry and endodontics, as well as exposure to high standards of clinical practice and
                  research.<br>The Government Dental College and Research Institute is known for its rigorous training
                  and emphasis on both clinical skills and academic knowledge, providing graduates with a comprehensive
                  education. Rajiv Gandhi University’s affiliation adds another layer of prestige, reflecting a
                  commitment to excellence in dental education.</p>
                <p>Her training from such a reputable institution contributed significantly to her ability to perform
                  complex procedures and approach patient care with empathy and skill.</p>
                <p>Dr. Mrudhula’s extensive experience and expertise in treating complex endodontic procedures,
                  aesthetic restorations, veneers, and smile designing highlight her advanced skills and deep knowledge
                  in these areas. Performing over 10,000 procedures underscores her proficiency and dedication to her
                  field. Here’s a bit more about each area of her expertise:</p>
                <p>Complex Endodontic Procedures: This involves intricate root canal treatments and other advanced
                  techniques to save teeth that are severely damaged or infected. Expertise in this area means she can
                  handle difficult cases that may involve complex root systems or challenging anatomy.</p>
                <p>Aesthetic Restorations: This includes using materials and techniques to restore the natural
                  appearance and function of teeth, focusing on achieving results that blend seamlessly with the
                  patient’s natural dentition.</p>
                <p>Composite Veneers: Dr. Mrudhula’s skill in placing veneers suggests she can transform a patient’s
                  smile by covering imperfections with thin layers of tooth-coloured resin applied to the front surface
                  of teeth to improve both the look and function of their teeth.</p>
                <p>Smile Designing: This involves planning and executing treatments to enhance a patient’s overall
                  smile, taking into account various factors like tooth alignment, colour, and shape to create a
                  harmonious and aesthetically pleasing result.</p>
                <p>Her experience of over a decade means she’s likely kept up with the latest advancements in technology
                  and techniques, ensuring her patients receive the most effective and up-to-date care.</p>
                <p>Dr. Mrudhula's empathetic and holistic approach, combined with expertise in complex treatments, its a
                  great combination for delivering comprehensive dental care. An empathetic approach ensures that
                  patients feel understood and supported throughout their treatment, which can significantly enhance
                  their overall experience and outcomes. A holistic approach means she considers the whole patient,
                  including their overall health and well-being, not just the immediate dental issue.</p>
                <p>Her expertise in performing complex treatments suggests that she can handle challenging cases with
                  skill and precision, likely incorporating advanced techniques and materials. This dual focus on
                  empathy and expertise can make a significant difference in patient satisfaction and the effectiveness
                  of dental treatments.</p>
                <p>Dr. Mrudhula has deep insights into the latest advancements, innovations, and best practices in this
                  field. Her research in restorative dentistry includes the development of new materials, improving the
                  longevity and aesthetic outcomes of restorations, and understanding how different materials interact
                  with the dental environment. Her multiple research article publications further highlight her
                  commitment to advancing the field of dentistry.</p>
                <p></p>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-md-3">
        <div class="doctor-card">
          <!-- <img src="doctor-image.jpg" alt="Dr. Jane Smith" class="doctor-image"> -->
          <div class="doctor-info">
            <h3 class="doctor-name">Dr Saanya</h3>
            <p class="doctor-specialty">Oral And Maxillofacial Surgeon</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="doctor-card">
          <!-- <img src="doctor-image.jpg" alt="Dr. Jane Smith" class="doctor-image"> -->
          <div class="doctor-info">
            <h3 class="doctor-name">Dr Kavya Jain</h3>
            <p class="doctor-specialty">Periodontist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="doctor-card">
          <!-- <img src="doctor-image.jpg" alt="Dr. Jane Smith" class="doctor-image"> -->
          <div class="doctor-info">
            <h3 class="doctor-name">Dr Saourabh Paul</h3>
            <p class="doctor-specialty">Pedodontist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="doctor-card">
          <!-- <img src="doctor-image.jpg" alt="Dr. Jane Smith" class="doctor-image"> -->
          <div class="doctor-info">
            <h3 class="doctor-name">Dr Pruthwin Gowda</h3>
            <p class="doctor-specialty">Orthodontist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="doctor-card">
          <!-- <img src="doctor-image.jpg" alt="Dr. Jane Smith" class="doctor-image"> -->
          <div class="doctor-info">
            <h3 class="doctor-name">Dr Akanksha Mishra</h3>
            <p class="doctor-specialty">Prosthodontist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="doctor-card">
          <!-- <img src="doctor-image.jpg" alt="Dr. Jane Smith" class="doctor-image"> -->
          <div class="doctor-info">
            <h3 class="doctor-name">Dr Gaurav Kemaria</h3>
            <p class="doctor-specialty">Implantologist</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="ourPatientsSpeak">
  <app-title lable="Our Patients' Feedback"></app-title>
  <div class="container" style="text-align: center;">
    <p>Why we remain the most reliable dental clinic.</p>
    <div class="row">

      <div class="testimonials-c row">
        <div class="t-card col-md-3">

          <p>
            <i class="fa-solid fa-quote-left"></i>I’ve never met a dentist as kind, educative, understanding, and knowledgeable as Dr Mrudhula at Zen Roots Dental Clinic. She greeted me warmly, listened to every concern, and then walked me through my X-rays in plain language so I finally understood what was happening inside my tooth. During the actual root-canal she checked my comfort level at every step—no pain, no surprises.
            <i class="fa-solid fa-quote-right"></i>

            <br>
            - Hruthvik Raj
          </p>
        </div>
        <div class="t-card col-md-3">

          <p>
            <i class="fa-solid fa-quote-left"></i>Great experience! The treatment was smooth, and Dr.Mrudhula made me feel super comfortable throught the treatment.The clinic was clean, well-equipped, and maintained a high standard of hygiene.
            I would definitely recommend this clinic to anyone looking for quality dental care.
            .
            <i class="fa-solid fa-quote-right"></i>

            <br>
            - Lakshmi Priya
          </p>
        </div>

        <div class="t-card col-md-3">

          <p>
            <i class="fa-solid fa-quote-left"></i>I recently had an implant treatment done at ZenRoot Dental and had a very positive experience. The dentist explained the procedure in detail and answered all my questions patiently. The process was smooth and comfortable, and I felt well cared for at every stage.
            <i class="fa-solid fa-quote-right"></i>

            <br>
            - Vathsala K
          </p>
        </div>
      </div>

      <br>
      <br>
    </div>
  </div>
</section>
<br>
<br>


<section id="contactUs">
  <app-title lable="Contact Us"></app-title>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-4" style="flex-direction: column;">
        <h3>Visit our clinic</h3>
        <br>
        <p>
          First floor, byrava complex,
          <br>Near panchamukhi ganesha temple,
          <br>Anchepalya, Bangalore 560073
        </p>
      </div>
      <div class="col-md-4" style="flex-direction: column;" id="phone">
        <h3>MAKE AN APPOINTMENT
        </h3>
        <br>
        <a href="tel:8123965002">
          <i class="fa-solid fa-phone"></i> 8123965002
        </a>
        <br>

        <a href="tel:8123462752">
          <i class="fa-solid fa-phone"></i> 8123462752
        </a>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
